.cabecalho-container {
  background-color: #2d1e3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  position: fixed;

  .logo {
    height: 120px;
    margin-left: 50px;
  }

  h2 {
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
}
