/* Estilos gerais */
.container-menu {
    display: flex;
    

  }
  
  .menu-button {
    // position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease;
    margin-left: 15px;
    margin-top: 30px;
  }
  
  .menu-button:hover {
    transform: scale(1.1);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #ad81c7;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1;
    
  }
  
  .sidebar.open {
    
    left: 0;
  }
  
  .sidebar h2 {
    margin-top: 0;
    margin-left: 150px;
    
    margin-top: 25px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    
    font-size: 20px;
    
    margin-top: 50px;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .content {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons button {
    padding: 10px 20px;
    cursor: pointer;
  }

  .finalizar{
    margin-top: 550px;
    position: absolute;
  }

  .saida{
    height: 35px;
    margin-left: 180px;
    margin-top: 560px;

  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      left: -100%;
    }
  
    .sidebar.open {
      left: 0;
    }
  
    .content {
      margin-left: 0;
    }
  }