* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica;
  }
  
  .App{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .roxo {
    margin-left: -800px;

    position: absolute;
    
  
    img {
      width: 100%;
    }
  
  }
  
  .container{
    display: flex;
    justify-content: center;
  
    form{
      margin-top: 120px;
      margin-left: 780px;
    }
  
    h1{
      font-size: 5vh;
      margin-left: 13%;
    }
  
    .User{
      width: 150px;

      margin-left: 85px;
      margin-top: 50px;
    }
  }
  
  .container .input-field{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 65px auto;
  }
  
  .input-field input{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
  
    outline: none;
    font-size: 20px;
    padding-left: 5px;
  }
  
  .input-field input::placeholder{
    color: white;
  }
  
  
  .container .recall-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 30px;
  }

  .recall-forget input{
    margin-right: 5px;
  }

  .recall-forget a{
    color: #940909;
    text-decoration: none;
  }

  .recall-forget a:hover{
    text-decoration: underline;
  }

  .container button{
    width: 80px;
    height: 30px;

    background-color: #2D1E3D;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

  }
  
  .zap{
    position: fixed;
    margin-left: 8%;
    margin-top: 50%;
  }