.inicial{

    background-color: #2D1E3D;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 30px 0px 10px 0px;
   
    
   

    .link{
        color: #fff;
        padding: 0px 0px 0px 0px;
    
        font-size: 17px;
        padding:5px;
        margin: 0px -20px 0px 190px;
        text-decoration: none

        
       
    }

    
}

.logoo{
    display: flex;
    width: 150px;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: -90px;
}

.linqui{
    display: flex;
    margin-left:-50px;
}
.fot{
    display: flex;
    .logo{
        width: 1257px;
    }
}

.nitro{
    display: flex;
    flex-direction: column;
   

    .gabriella{
        margin-top: 16px;
        margin-left: 650px;
    }
}

#teste1{
    margin-top: 20px ;
    font-size: 25px;
    margin-left: 509px;
}

#teste2{
    font-size: 15px;
    margin-left: 533px;
}

#teste3{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 110px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 0px;
    margin-left: 566px;
    padding-top: 11px;
    padding-left: 9px;
    font-size: 13px;
    text-decoration: none

    
}

.linha{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.linhaD{
    margin-top: 40px;
    background-color: #000;
    padding-bottom: 1px;
}

.parceria{
    display: flex;

    .parcerias{
        display: flex;

        margin-top: 50px;
        margin-left: 550px;
    }
}

.marcas{
    display: flex;

    .puma{
        display: flex;
        margin-top: 60px;
        margin-bottom: 80px;
        margin-left: 120px;
        border-radius: 10px 10px 10px 10px;
    }

    .nike{
        display: flex;
        margin-top: 60px;
        margin-bottom: 70px;
        margin-left: 180px;
        border-radius: 10px 10px 10px 10px;
    }

    .new{
        margin-left: 150px;
        margin-top: 60px ;
        margin-bottom: 70px;
        border-radius: 10px 10px 10px 10px;
    }
}


.fot{
    display: flex;
    width: 999px;
}


#adaidas{
    margin-top: 500px;
}

.linhass{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.tenis{
    display: flex;

    .pisante{
        margin-top: 9px;
        margin-left: 10px;
    }
}

#teste9{
    background-color: #E6E6E6;
    margin-top: 30px;
    padding-bottom: 100px;
}

#teste10{
    margin-left: 50px;
    background-color: #E6E6E6;
    margin-top: 30px;
    padding-bottom: 100px;
}

#teste11{
    margin-left: 50px;
    background-color: #E6E6E6;
    margin-top: 30px;
    padding-bottom: 100px;
}

.nome{
    display: flex;


}

#teste12{
    margin-left: -550px;
    font-size: 40px;
    margin-top: 30px;
    
}

#teste13{
    margin-left: 210px;
    font-size: 40px;
    margin-top: 30px;
   
}

#teste14{
    margin-left: 240px;
    font-size: 40px;
    margin-top: 30px;
    
}



.linhasss{
    margin-top: 480px;
    background-color: #000;
    padding-bottom: 1px;
}

.produtos{
    display: flex;
    margin-top: 60px;
    margin-left: 35px;
}

.produtossss{
    display: flex;
    margin-left: 1100px;
    margin-top: -40px;
    font-size: 20px; 
    color: #ffff; 
    text-decoration: none;
}

.modelo{
    display: flex;
    margin-left: 10px;
}

#teste15{
    margin-top: 40px;
    margin-left: 250px;
    font-size: 30px;
}

#teste16{
    margin-top: 140px;
    margin-left: 190px;
}

#teste17{
    margin-top: 140px;
    margin-left: 220px;
}

#teste18{
    margin-top: 140px;
    margin-left: 220px;
}

#teste19{
    margin-top: 100px;
    margin-left: 100px;
}

.name{
    display: flex;
    flex-direction: row;
}

#me{
    display: flex;
    margin-left: 109px;
    font-size: 25px;
    margin-top: 20px;
}

#tim{
    display: flex;
    margin-left: 190px;
    margin-top: 19px;
    font-size: 19px;
}

#setas{
    display: flex;
    margin-left: 220px;
    margin-top: 10px;
    font-size: 19px;
}

#sa{

}

.logoo{
    width: 100px;
    margin-left: 50px;
}

.procurar{
    margin-left: 50px;
    padding: 6px;
    background-color: #795D94;
    border-color: #160527;
}

.procurar2{
    position: absolute;
    margin-right: 25px;
}

@media (max-width: 992px) {
    
}