.inicial{

    background-color: #2D1E3D;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 30px 0px 60px 0px;
    text-decoration: none;
    
   

    .link{
        color: #fff;
        padding: 0px 0px 0px 0px;
    
        font-size: 17px;
        padding:5px;
        margin: 0px -20px 0px 190px;
        text-decoration: none;

        transition: color 0.3s ease, transform 0.3s ease;

        
        &:hover {
          color: #9b25b3;
          transform: scale(1.3); 
        }

        @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        
          
          animation: fadeIn 0.5s ease;
        }
        
        
        .link:active {
          transform: scale(0.95); 
        }
       
    }

#sla1{
    margin-top: 20px;
    margin-left: 250px;
}

#sla2{
    margin-left: 100px;
}

#sla3{
    margin-left: 100px;
}

.search-container {
    display: flex;
    align-items: center;
   
}
.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 90px;
}
.search-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s ease;
    background-color: #0b4079;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}
.search-button:hover {
    background-color: #2c52bd;
}

.usuario{
    display: flex;
    
    margin-top: -90px;
    

    color: #573b3b;
    
}

.dell{
    display: flex;
    margin-left: 1150px;
}



.fotos{
    display: flex;
    .logo{
        width: 1263px;
    }
}

.linha{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.nitro{
    display: flex;
    flex-direction: column;
   

    .gabriella{
        margin-top: 16px;
        margin-left: 650px;
    }
}

#teste1{
    margin-top: 20px ;
    font-size: 25px;
    margin-left: 503px;
}

#teste2{
    font-size: 15px;
    margin-left: 525px;
}

#teste3{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 110px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 0px;
    margin-left: 556px;
    padding-top: 11px;
    padding-left: 9px;
    font-size: 13px;
    text-decoration: none
    

    
}

.linhaD{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.parceria{
    display: flex;

    .parcerias{
        display: flex;

        margin-top: 50px;
        margin-left: 536px;
    }
}

.marcas{
    display: flex;

    .puma{
        display: flex;
        margin-top: 60px;
        margin-bottom: 80px;
        margin-left: 60px;
        border-radius: 10px 10px 10px 10px;
        width: 150px;
        height: auto;
    }

    .nike{
        display: flex;
        margin-top: 60px;
        margin-bottom: 70px;
        margin-left: 290px;
        border-radius: 10px 10px 10px 10px;
    }

    .new{
        margin-left: 150px;
        margin-top: 60px ;
        margin-bottom: 70px;
        border-radius: 10px 10px 10px 10px;
    }
}

.nome{
    display: flex;
}

#teste12{
    margin-left: -680px;
    font-size: 40px;
    margin-top: 590px;
    
}

#teste13{
    margin-left: 70px;
    font-size: 40px;
    margin-top: 590px;
   
}

#teste14{
    margin-left: 350px;
    font-size: 40px;
    margin-top: 590px;
    
}

#teste15{
    margin-top: 590px;
    font-size: 40px;
    margin-left: 180px;
}


.linhass{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}


.tenis{
    display: flex;

    .pisante{
        margin-top: 9px;
        margin-left: 35px;
    }
}

#teste9{
    background-color: #ece2dc;
    margin-top: 60px;
    padding-bottom: 100px;
}

#teste10{
    margin-left: 50px;
    background-color: #ece2dc;
    margin-top: 60px;
    padding-bottom: 100px;
}

#teste11{
    margin-left: 50px;
    background-color: #ece2dc;
    margin-top: 60px;
    padding-bottom: 100px;
}

.mome{
    display: flex;
    
}

#teste20{
    margin-top: 565px;
    margin-left: -600px;
    font-size: 40px;
}

#teste21{
    margin-top: 565px;
    margin-left: 299px;
    font-size: 40px;
}

#teste22{
    margin-top: 565px;
    margin-left: 330px;
    font-size: 40px;
}

.linhasss{
    margin-top: 50px;
    background-color: #000;
    padding-bottom: 1px;
}

.produtos{
    display: flex;
    margin-top: 40px;
    margin-left: 60px;
    opacity: 0.6;
}

.botao-transparente {
    background-color: transparent;
    border: 2px solid #5c176d; 
    color: #122942; 
 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: #771877; 
        color: white; 
    }
}

#produtoss{
    margin-left: 1100px;
    margin-top: -900px;
}

.modelo{
    display: flex;
    margin-left: -50px;
}

#teste16{
    margin-top: 150px;
    margin-left: 150px;
}

#teste17{
    margin-top: 150px;
    margin-left: 200px;
}

#teste18{
    margin-top: 150px;
    margin-left: 220px;
}

#teste19{
    margin-top: 150px;
    margin-left: 100px;
}

.name{
    display: flex;
    flex-direction: row;
    color: gray;
}

#me{
    display: flex;
    margin-left: 105px;
    font-size: 25px;
    margin-top: 20px;
}

#tim{
    display: flex;
    margin-left: 185px;
    margin-top: 19px;
    font-size: 19px;
}

#setas{
    display: flex;
    margin-left: 219px;
    margin-top: 19px;
    font-size: 19px;
}

#sa{
    display: flex;
    margin-left: 302px;
    font-size: 19px;
    margin-top: 19px;
    
}

.linhassss{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.poster{
    display: flex;
    margin-top: 80px;
    margin-bottom: 200px;
    margin-left: 50px;
    height: auto;
}

#jota20{
    width: 480px;
}

#teste21{
    width: 12px;

   
}

#jota22{
    width: 300px;
    padding-top: 500px;
  
}

#jota23{
    width: 300px;
    padding-top: 500px;
   
}