.inicial{

    background-color: #2D1E3D;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    padding: 30px 0px 20px 0px;
   
    
   

    .link{
        color: #fff;
        padding: 0px 0px 0px 0px;
    
        font-size: 17px;
        padding:10px;
        margin: 0px 0px 0px 100px;
        text-decoration: none

        
       
    }

    
}

.nitro{
    display: flex;
    flex-direction: column;
   

    .gabriella{
        margin-top: 16px;
        margin-left: 450px;
    }
}

#teste1{
    margin-top: 20px ;
    font-size: 25px;
    margin-left: 480px;
}

#teste2{
    font-size: 15px;
    margin-left: 500px;
}

#teste3{
    background-color:  rgba(255, 255, 255, 0.5);
    width: 110px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 0px;
    margin-left: 536px;
    padding-top: 11px;
    padding-left: 9px;
    font-size: 13px;
    text-decoration: none

    
}

.linha{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.linhaD{
    margin-top: 40px;
    background-color: #000;
    padding-bottom: 1px;
}

.parceria{
    display: flex;

    .parcerias{
        display: flex;

        margin-top: 50px;
        margin-left: 550px;
    }
}

.marcas{
    display: flex;

    .puma{
        display: flex;
        margin-top: 60px;
        margin-bottom: 80px;
        margin-left: 100px;
        border-radius: 10px 10px 10px 10px;
    }

    .nike{
        display: flex;
        margin-top: 60px;
        margin-bottom: 70px;
        margin-left: 130px;
        border-radius: 10px 10px 10px 10px;
    }

    .new{
        margin-left: 150px;
        margin-top: 60px ;
        margin-bottom: 70px;
        border-radius: 10px 10px 10px 10px;
    }
}

.logo{
    width: 1257px;
}

#adaidas{
    margin-top: 500px;
}

.linhass{
    margin-top: 30px;
    background-color: #000;
    padding-bottom: 1px;
}

.tenis{
    display: flex;

    .pisante{
        margin-top: 9px;
        margin-left: 10px;
    }
}

#teste9{
    background-color: #E6E6E6;
    margin-top: 30px;
    padding-bottom: 100px;
}

#teste10{
    margin-left: 50px;
    background-color: #E6E6E6;
    margin-top: 30px;
    padding-bottom: 100px;
}

#teste11{
    margin-left: 50px;
    background-color: #E6E6E6;
    margin-top: 30px;
    padding-bottom: 100px;
}

.nome{
    display: flex;


}

#teste12{
    margin-left: 120px;
    font-size: 40px;
    margin-top: -60px;
    
}

#teste13{
    margin-left: 320px;
    font-size: 40px;
    margin-top: -60px;
   
}

#teste14{
    margin-left: 250px;
    font-size: 40px;
    margin-top: -60px;
    
}

.linhasss{
    margin-top: 40px;
    background-color: #000;
    padding-bottom: 1px;
}

.produtos{
    display: flex;
    margin-top: 60px;
    margin-left: 35px;
}

.produtossss{
    display: flex;
    margin-left: 1100px;
    margin-top: -40px;
    font-size: 20px; 
    color: #ffff; 
    text-decoration: none;
}

.modelo{
    display: flex;
    margin-left: 10px;
}

#teste15{
    margin-top: 40px;
    margin-left: 50px;
}

#teste16{
    margin-top: 40px;
    margin-left: 150px;
}

#teste17{
    margin-top: 40px;
    margin-left: 200px;
}

#teste18{
    margin-top: 40px;
    margin-left: 200px;
}

.name{
    display: flex;
    flex-direction: row;
}

#me{
    display: flex;
    margin-left: 109px;
    font-size: 25px;
    margin-top: 20px;
}

#tim{
    display: flex;
    margin-left: 190px;
    margin-top: 19px;
    font-size: 19px;
}

#setas{
    display: flex;
    margin-left: 220px;
    margin-top: 10px;
    font-size: 19px;
}

#sa{}